***Part 1: User Data Processing with Lists***

In [5]:
data = [
    (1, 'Alice Johnson', 25, 'USA'),
    (2, 'Liam Smith', 34, 'Canada'),
    (3, 'Usman', 22, 'UK'),
    (4, 'Usman', 29, 'Germany'),
    (5, 'Emma Jones', 40, 'France'),
    (6, 'Oliver Garcia', 31, 'Italy'),
    (7, 'Sophia Martinez', 27, 'Spain'),
    (8, 'James Davis', 45, 'Australia'),
    (9, 'Ava Rodriguez', 19, 'India'),
    (10, 'Elijah Wilson', 38, 'Brazil'),
    (11, 'Mia Anderson', 23, 'USA'),
    (12, 'Lucas Taylor', 35, 'Canada'),
    (13, 'Isabella Thomas', 28, 'UK'),
    (14, 'Mason Hernandez', 41, 'Germany'),
    (15, 'Amelia Moore', 30, 'France'),
    (16, 'Logan Jackson', 26, 'Italy'),
    (17, 'Harper Lee', 32, 'Spain'),
    (18, 'Benjamin Harris', 37, 'Australia'),
    (19, 'Ella Clark', 21, 'India'),
    (20, 'Jackson Lewis', 39, 'Brazil'),
    (21, 'Chloe Young', 24, 'USA'),
    (22, 'Alexander Hall', 36, 'Canada'),
    (23, 'Abigail Allen', 33, 'UK'),
    (24, 'Henry Wright', 42, 'Germany'),
    (25, 'Sofia King', 29, 'France'),
    (26, 'Sebastian Scott', 30, 'Italy'),
    (27, 'Aria Green', 22, 'Spain'),
    (28, 'Daniel Adams', 44, 'Australia'),
    (29, 'Grace Baker', 20, 'India'),
    (30, 'Samuel Gonzalez', 36, 'Brazil'),
    (31, 'Victoria Nelson', 27, 'USA'),
    (32, 'Matthew Carter', 34, 'Canada'),
    (33, 'Scarlett Mitchell', 25, 'UK'),
    (34, 'David Perez', 41, 'Germany'),
    (35, 'Zoe Roberts', 39, 'France'),
    (36, 'David Turner', 30, 'Italy'),
    (37, 'Lily Phillips', 23, 'Spain'),
    (38, 'Luke Campbell', 47, 'Australia'),
    (39, 'Natalie Parker', 18, 'India'),
    (40, 'Isaac Evans',56,'Pakistan')
]


def func1(d):
  a = []
  names = []
  for i in range(len(d)):
    if d[i][2] >= 30 and (d[i][3] == 'USA' or  d[i][3] == 'Pakistan'):
      a.append(d[i])
      names.append(d[i][1])
  print(a)
  print(names)


func1(data)
print()

def func2(d):
  s = sorted(d , key=lambda x: x[2])
  older = []
  for i in range(len(s)-1,(len(s)-11),-1):

    older.append(s[i])
  print(older)
  dup = []
  dup2 = []
  for i in d:
    if i[1] not in dup:
      dup.append(i[1])
    else:
      dup2.append(i[1])

  if len(dup) == len(s):
    print("NO Duplicate Names")

  else:
    print(" Duplicate Names Exits")
    print(dup2)

func2(data)

[(40, 'Isaac Evans', 56, 'Pakistan')]
['Isaac Evans']

[(40, 'Isaac Evans', 56, 'Pakistan'), (38, 'Luke Campbell', 47, 'Australia'), (8, 'James Davis', 45, 'Australia'), (28, 'Daniel Adams', 44, 'Australia'), (24, 'Henry Wright', 42, 'Germany'), (34, 'David Perez', 41, 'Germany'), (14, 'Mason Hernandez', 41, 'Germany'), (5, 'Emma Jones', 40, 'France'), (35, 'Zoe Roberts', 39, 'France'), (20, 'Jackson Lewis', 39, 'Brazil')]
 Duplicate Names Exits
['Usman']

**Part 2: Immutable Data Management with Tuples**

In [ ]:
trans = [
    (1, 101, 100.0, '2022-01-01'),
    (2, 202, 200.0, '2022-01-02'),
    (3, 101, 300.0, '2022-01-03'),
    (4, 303, 400.0, '2022-01-04'),
    (5, 202, 500.0, '2022-01-05'),
    (6, 101, 600.0, '2022-01-06'),
    (7, 404, 700.0, '2022-01-07'),
    (8, 202, 800.0, '2022-01-08'),
    (9, 505, 900.0, '2022-01-09'),
    (10, 101, 1000.0, '2022-01-10'),
    (11, 606, 1100.0, '2022-01-11'),
    (12, 202, 1200.0, '2022-01-12'),
    (13, 707, 1300.0, '2022-01-13'),
    (14, 808, 1400.0, '2022-01-14'),
    (15, 101, 1500.0, '2022-01-15'),
    (16, 909, 1600.0, '2022-01-16'),
    (17, 202, 1700.0, '2022-01-17'),
    (18, 1010, 1800.0, '2022-01-18'),
    (19, 1111, 1900.0, '2022-01-19'),
    (20, 101, 2000.0, '2022-01-20'),
    (21, 1212, 2100.0, '2022-01-21'),
    (22, 202, 2200.0, '2022-01-22'),
    (23, 1313, 2300.0, '2022-01-23'),
    (24, 1414, 2400.0, '2022-01-24'),
    (25, 101, 2500.0, '2022-01-25'),
    (26, 1515, 2600.0, '2022-01-26'),
    (27, 202, 2700.0, '2022-01-27'),
    (28, 1616, 2800.0, '2022-01-28'),
    (29, 1717, 2900.0, '2022-01-29'),
    (30, 101, 3000.0, '2022-01-30'),
    (31, 1818, 3100.0, '2022-01-31'),
    (32, 202, 3200.0, '2022-02-01'),
    (33, 1919, 3300.0, '2022-02-02'),
    (34, 2020, 3400.0, '2022-02-03'),
    (35, 101, 3500.0, '2022-02-04'),
    (36, 2121, 3600.0, '2022-02-05'),
    (37, 202, 3700.0, '2022-02-06'),
    (38, 2222, 3800.0, '2022-02-07'),
    (39, 2323, 3900.0, '2022-02-08'),
    (40, 101, 4000.0, '2022-02-09')
]

def unique(d):
  above = []
  for i in range(len(d)):
    if d[i][1] not in above:
      above.append(d[i][1])

  print(len(above))
unique(trans)
print()

def high_amount(d):
  sor = sorted(d, key=lambda x: x[2], reverse=True)
  print(sor[0])
high_amount(trans)

def two_lists(d):
  id = []
  user = []
  for i in range(len(d)):
    if d[i][0] not in id:
      id.append(d[i][0])
    if d[i][1] not in user:
      user.append(d[i][1])
  print(id)
  print(user)
print()
two_lists(trans)

**What challenges might
arise if the tuple size is inconsistent?**
**Answer:**

    (1) There maybe an Index error if tuple size is not consistent because there maybe fewer elements in tuples than expected.
    (2)  There might be differrent position of ids and users in different tuples that will lead to inconsistencies in the esultant results.

**Part 3: Unique Data Handling with Sets**

In [ ]:
page_a = {1, 2, 3, 4, 5, 6}
page_b = {4, 5, 6, 7, 8, 9, 10}
page_c = {11, 12, 2, 5, 13}

def sets(a,b,c):
  print(a & b)
  print((a | b) - (a & b))


sets(page_a,page_b,page_c)
print()

def set2(a,b,c):
  page_a.add(34)
  page_a.update([35,36,37])
  print(page_a)
  page_b.remove(4)
  page_b.difference_update([8,9,10])
  page_b.discard(8)
  print(page_b)
set2(page_a,page_b,page_c)

**Part 4: Data Aggregation with Dictionaries**

In [41]:
user_feedback = {
    123: {'rating': 4, 'comments': "Good product, but a bit expensive."},
    456: {'rating': 5, 'comments': "Excellent! Would recommend to anyone."},
    789: {'rating': 2, 'comments': "Didn't meet expectations."} ,
     223: {'rating': 5, 'comments': "Good product, but a bit expensive."},
    556: {'rating': 5, 'comments': "Excellent! Would recommend to anyone."},
    779: {'rating': 5, 'comments': "Didn't meet expectations."}
}

user_feedback2 = {
    123: {'rating': 5, 'comments': "Good product, but a bit expensive.and second comment"},
    4456: {'rating': 5, 'comments': "Excellent! Would recommend to anyone."},
    7839: {'rating': 2, 'comments': "Didn't meet expectations."} ,
     2243: {'rating': 7, 'comments': "Good product, but a bit expensive."},
    556: {'rating': 3, 'comments': "Excellent! Would recommend to anyone."},
    779: {'rating': 8, 'comments': "Didn't meet expectations. also second coment"}
}

def dicti(d):
  a = []
  for user_id, f in user_feedback.items():
    if f['rating'] >= 4:
      a.append((user_id,f['rating']))
  a = dict(a)
  print(a)
dicti(dicti)

def sorting(d):
  sor = sorted(user_feedback.items(), key=lambda x: x[1]['rating'], reverse=True)
  print(dict(sor[0:5]))
sorting(user_feedback)
print()

def app(user_feedback, user_feedback2):

  feedback_list = [user_feedback, user_feedback2]
  combined_feedback = {}

  for feedback in feedback_list:
    for user, data in feedback.items():
        if user in combined_feedback:
            combined_feedback[user]["rating"] = max(combined_feedback[user]["rating"], data["rating"])
            combined_feedback[user]["comments"] += " " + data["comments"]
        else:
            combined_feedback[user] = data.copy()

  for user, data in combined_feedback.items():
    print(f"{user}: Rating = {data['rating']}, Comments = {data['comments']}")

app(user_feedback, user_feedback2)

{123: 4, 456: 5, 223: 5, 556: 5, 779: 5}
{456: {'rating': 5, 'comments': 'Excellent! Would recommend to anyone.'}, 223: {'rating': 5, 'comments': 'Good product, but a bit expensive.'}, 556: {'rating': 5, 'comments': 'Excellent! Would recommend to anyone.'}, 779: {'rating': 5, 'comments': "Didn't meet expectations."}, 123: {'rating': 4, 'comments': 'Good product, but a bit expensive.'}}

123: Rating = 5, Comments = Good product, but a bit expensive. Good product, but a bit expensive.and second comment
456: Rating = 5, Comments = Excellent! Would recommend to anyone.
789: Rating = 2, Comments = Didn't meet expectations.
223: Rating = 5, Comments = Good product, but a bit expensive.
556: Rating = 5, Comments = Excellent! Would recommend to anyone. Excellent! Would recommend to anyone.
779: Rating = 8, Comments = Didn't meet expectations. Didn't meet expectations. also second coment
4456: Rating = 5, Comments = Excellent! Would recommend to anyone.
7839: Rating = 2, Comments = Didn't meet expectations.
2243: Rating = 7, Comments = Good product, but a bit expensive.